	.tamil{
		background-color: red;		
	}
	.english{
		background-color: brown;
	}
	.physics{
		background-color: lightgreen;
	}
	.chemistry{
		background-color: orange;
	}
	.computer{
		background-color: blueviolet;
	}
	.maths{
		background-color: lightpink;
	}
	.lab{
		background-color: blanchedalmond;
	}